<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <title>문서 조회</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    문서 조회
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>파일명</th>
                            <th>파일 타입</th>
                            <th>파일 크기(Byte)</th>
                            <th>삭제</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(documents)}">
                            <td colspan="5">
                                업로드된 문서가 없습니다.
                            </td>
                        </tr>
                        <tr th:each="document : ${documents}">
                            <td th:text="${document.id}"></td>
                            <td th:text="${document.originalFilename}"></td>
                            <td th:text="${document.contentType}"></td>
                            <td th:text="${document.fileSize}"></td>
                            <td>
                                <form th:action="@{/document/delete/{id}(id=${document.id})}" method="post">
                                    <button type="submit" class="btn btn-primary">삭제</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="my-4">
                        <div class="float-end">
                            <button class="btn btn-primary" id="uploadFileBtn">업로드</button>
                        </div>
                    </div>
                </div><!--end card body-->
            </div><!--end card-->
        </div>
    </div>
    <!-- 업로드 모달 -->
    <div class="modal fade uploadModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">PDF 문서 업로드</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/document/upload}" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="file" name="files" class="form-control" multiple>
                    </div>
                </div>
                <div class="modal-footer">
                    <div th:if="${uploadErrorMessage}">
                        <span>*</span>
                        <span th:text="${uploadErrorMessage}"></span>
                    </div>
                    <button type="submit" class="btn btn-primary ms-auto submitBtn">업로드</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
    const message = /*[[${message}]]*/ null;
    const errorMessage = /*[[${errorMessage}]]*/ null;
    if (message) {
        alert(message);
    }
    if (errorMessage) {
        alert(errorMessage);
    }

    // 업로드 모달
    const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"));
    const reopenUploadModal = /*[[${reopenUploadModal}]]*/ false;
    document.querySelector("#uploadFileBtn").addEventListener("click", function(e) {
        e.stopPropagation();
        e.preventDefault();
        uploadModal.show();
    }, false);
    if (reopenUploadModal) {
        uploadModal.show();
    }
</script>