<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <title>문서 업로드</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    PDF 문서 업로드
                </div>
                <div class="card-body">
                    <form th:action="@{/document/upload}" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <input type="file" name="files" class="form-control" multiple>
                        </div>
                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary submitBtn">업로드</button>
                            </div>
                        </div>
                    </form>
                    <div th:if="${errorMessage}">
                        <span>*</span>
                        <span th:text="${errorMessage}"></span>
                    </div>
                </div><!--end card body-->
            </div><!--end card-->
        </div>
    </div>
</div>