<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>회원가입</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    회원가입
                </div>
                <div class="card-body">
                    <form id="registerForm" th:action="@{/user/signup}" th:object="${userSignupRequest}" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">이메일</span>
                            <input type="email" th:field="*{email}" name="email" required maxlength="255" class="form-control">
                            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">비밀번호</span>
                            <input type="text" th:field="*{password}" name="password" required minlength="4" maxlength="20" class="form-control">
                            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">닉네임</span>
                            <input type="text" th:field="*{nickname}" name="nickname" required minlength="2" maxlength="20" class="form-control">
                            <div th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></div>
                        </div>
                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary submitBtn">가입</button>
                                <button type="reset" class="btn btn-secondary">초기화</button>
                            </div>
                        </div>
                    </form>
                </div><!--end card body-->
            </div><!--end card-->
        </div>
    </div>
</div>